.App {
  font-family: roboto;
  margin-top: 20px;
  padding: 0px;
  background-color: white;
}

.search-container {
  background-color: white;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
}

#search-box {
  width: 375px;
  height: 40px;
  padding: 0 0 0 10px;
}

#search-button {
  margin: 10px 0 10px 0;
  width: 375px;
  font-size: 25px;
  padding: 0px;
}

#results-display {
  display: flex;
  margin: 0 auto 10px auto;
  width: 375px;
}

#total-results-display {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  height: 45px;
  padding: 0px;
  line-height: 20px;
}

#results-per-page-dropdown {
  color: white;
  font-size: 25px;
  margin-left: 15px;
  width: 230px;
}

hr {
  margin: 0;
}

.card-container {
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: #F9FAFB;
}

svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}

.card {
  width: 300px;
  height: 440px;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
  0 3px 6px 0 rgba(25, 32, 36, 0.16);
  margin: 10px;
  overflow: hidden;
  font-size: 20px;
  padding: 15px;
  color: black;
}

.card:hover {
  background-color: #51D2F2;
  color: white;
}

#book-authors, #book-date,
#book-description {
  font-size: 15px;
}

#book-image {
  height: 200px;
  width: 140px;
}

#book-title {
  margin-top: 10px;
  max-height: 60px;
  overflow: hidden;
  font-weight: bold;
}

#book-authors {
  max-height: 60px;
  overflow: hidden;
}

#book-description {
  margin-top: 10px;
  text-align: left;
  height: 70px;
  overflow: hidden;
  color: black;
  font-family: serif;
}

#page-buttons {
  text-align: center;
}

#previous-page, #next-page {
  width: 175px;
  margin: 10px 10px 0 10px;
  font-size: 25px;
  padding: 0px;
}

#current-page-display {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#first-last-page {
  text-align: center;
}

#first-page, #last-page {
  width: 175px;
  margin: 0 10px 10px 10px;
  font-size: 25px;
  padding: 0px;
}

footer {
  text-align: center;
  margin: 10px 0 20px 0;
  font-family: Verdana;
  font-weight: bold;
}

/* Laptop/Desktop */
@media screen and (min-width: 769px) {

.search-container {
background-color: white;
display: inline-block;
width: 100%;
}

#search-box {
  width: 230px;
  height: 40px;
  padding: 0 0 0 10px;
}

#search-button {
  margin: 10px 0 10px 0;
  width: 80px;
  font-size: 25px;
  padding: 0px;
}

}